*{
    margin: 0;
    padding: 0;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:#000;
}
ul li {
    display: inline-block;
    list-style-type: none;
}
ul li a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    /* background-color: #1C7293; */
    padding: 20px;
}
.navbar h1{
    color: #F4FAFF;
    font-size: 50px;

}
.navbar span{
    color:#9E2A2B;
}
.banner{
    background-color: #191919; 
    min-height: 900px;
    /* object-fit: contain; */
    /* background-repeat: no-repeat; */
    /* margin: auto; */
    display: flex;
    justify-content: space-around;
   
}
.banner img{
    width: 700px;
    height: 500px;
    margin-top: 150px;
    border-radius: 30px;
    border: 3px solid #f9004d;
}
.banner h2{
    color: #fff;
    margin-top: 250px;
    font-size: 70px;
    text-align: center;
    
}
.banner span{
    color:#f9004d;
}
.banner b{
    font-size: 60px;
}





.about{
    width: 100%;
    padding: 100px 0px;
    /* background-color: #191919; */
}
.about img {
    height: auto;
    width: 430px;
    color: white;
    border: 5px solid;
    border-radius: 20%;
}
.about-text{
    width: 550px;
}


.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2;

}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about span{
    color: #f9004d;
}
.about b{
    color: #F4FAFF;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 10px;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}





.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}