*{
    margin: 0;
    padding: 0;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:#000;
}
ul li {
    display: inline-block;
    list-style-type: none;
}
ul li a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}
ul li a:hover{
    text-decoration: underline #9E2A2B 3px;
    transition: 1.0s;
    font-size: 25px;

}
.navbar{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    /* background-color: #1C7293; */
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: #000;
    border-bottom: 2px solid #fff;
    z-index: 100;
}
.navbar h1{
    color: #F4FAFF;
    font-size: 50px;

}
.navbar span{
    color:#9E2A2B;
}
.banner{
    background-color: #191919; 
    min-height: 900px;
    /* object-fit: contain; */
    /* background-repeat: no-repeat; */
    /* margin: auto; */
    display: flex;
    justify-content: space-around;
   
}
.banner img{
    width: 700px;
    height: 500px;
    margin-top: 150px;
    border-radius: 30px;
    border: 3px solid #f9004d;
}
.banner h2{
    color: #fff;
    margin-top: 250px;
    font-size: 70px;
    text-align: center;
    
}
.banner button{
    padding: 30px 50px;
    border-radius: 40px;
}
.banner span{
    color:#f9004d;
}
.banner b{
    font-size: 60px;
}





#about{
    width: 100%;
    padding: 100px 0px;
    /* background-color: #191919; */
}
#about img {
    height: auto;
    width: 430px;
    color: white;
    border: 5px solid;
    border-radius: 20%;
}
.about-text{
    width: 550px;
}


.main{
    width: 1130px;
    max-width: 95%;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 200px;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
#about span{
    color: #f9004d;
}
#about b{
    color: #F4FAFF;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 10px;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}





#service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

#contact{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
#contact img{
    width: 50px;
}
#contact h1{
    color: #fff;

}
#contact b{
    color: #fff;
}
.page1{
    padding: 50px;
}

#twitter{
    background-color: #fff;
    border-radius: 50%;
}
.page2{
    margin: 50px;
}
.page2 input{
    display: block;
    width: 800px;
    background-color:#191919 ;
    color: #fff;
    padding: 15px 0px;
    margin: 40px 0px;
    border: none;
}
.page2 textarea{
    width: 800px;
    background-color:#191919 ;
    color: #fff;
    padding: 50px 0px;
    border: none;
}




footer{
    position: relative;
    width: 100%;
    height: 300px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social a{
    width: 45px;
    height: 45px;
   padding: 10px;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;

}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}









@media screen and (max-width:768px){
    ul li a{
        text-decoration: none;
        padding: 20px;
        font-size: 10px;
        
    }
    ul li{
        display: block;
        position: relative;
    }
  .navbar h1{
        font-size: 30px;
    }

    .navbar{
       
        justify-content:flex-start;
        gap: 150px;
        width: 60%;
    
     }

     .banner{
        flex-direction: column;
        min-height: 100px;
        width: 60%;
        
       
    }
    .banner img{
        width: 300px;
        height: 250px;
        margin-top:0px;
        margin: auto;
        margin-bottom: 20px;
       
    }
    .banner h2{
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 20px;
        
        
    }
    .banner button{
        padding: 10px 15px;
    }
   
    .banner b{
        font-size: 40px;
        
    }


    #about{
        width: 60%;
        padding: 100px 0px;
       
      
    }
    #about img {
        height: auto;
        width: 250px;
        margin-top: -300px;
      
    }
    
    .main{
        flex-direction: column;
        
    
    }
    .about-text h2{
        font-size: 30px;
    }
    .about-text h5{
        font-size: 8px;

    }
    .about-text p{
        
        font-size: 15px;
       
    }
    .about-text{
        margin-top: -150px;
        text-align: center;
        margin-left: 20px;
        text-align: center;
        width: 100%;
    }




    .title h2{
        font-size: 40px;
        margin-left: -350px;
    }
    .box{
        flex-direction: column;
        width: 60%;
    }
   
    #contact{
       
        flex-direction: column;
    }

    .page2 input{
        width: 350px;
        
    }
    .page2 textarea{
        width: 350px;
    }
    
    footer{
        width: 60%;
    }

    footer p{
        font-size: 20px;
        width: 100%;
    }
}








@media screen and (max-width:480px){
    ul li a{
        text-decoration: none;
        padding: 10px;
        font-size: 5px;
        
    }
    ul li{
        display: block;
        position: relative;
    }
  .navbar h1{
        font-size: 10px;
    }

    .navbar{
       
        justify-content:flex-start;
        gap: 150px;
        width: 60%;
    
     }

     .banner{
        flex-direction: column;
        min-height: 100px;
        width: 60%;
        
       
    }
    .banner img{
        width: 200px;
        height: 150px;
        margin-top:0px;
        margin: auto;
        margin-bottom: 20px;
       
    }
    .banner h2{
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 20px;
        
        
    }
    .banner button{
        padding: 10px 15px;
    }
   
    .banner b{
        font-size: 40px;
        
    }


    #about{
        width: 40%;
        padding: 100px 0px;
       
      
    }
    #about img {
        height: auto;
        width: 200px;
        margin-top: -300px;
        margin-left: 50px;
      
    }
    
    .main{
        flex-direction: column;
        
    
    }
    .about-text h2{
        font-size: 30px;
    }
    .about-text h5{
        font-size: 8px;

    }
    .about-text p{
        
        font-size: 15px;
       
    }
    .about-text b{
        font-size: 10px;
        text-align: center;
    }
    .about-text{
        margin-top: -150px;
        text-align: center;
        margin-left: 20px;
        text-align: center;
        width: 100%;
    }




    .title h2{
        font-size: 20px;
        margin-left: -450px;
    }
    .box{
        flex-direction: column;
        width: 6%;
        min-height: 100px;
        margin-left: 100px;
        box-sizing: border-box;
    }
   
    #contact{
       
        flex-direction: column;
        margin-left: -50px;
    }
    #contact b{
        font-size: 10px;

    }
    #contact img{
        width: 20px;
    }
    .page2 input{
        width: 150px;
       padding: 10px;
        
    }
    .page2 textarea{
        width: 150px;
        padding: 10px;
    }
    
    footer{
        width: 60%;
    }

    footer p{
        font-size: 5px;
        width: 100%;
    }
    button{
        padding: 20px;
    }
    .social a{
        width: 5px;
        margin: top -20px;;
    }
}